#####Reports to be ignored####
Semester1/AIReport
Semester2/DogsAss/AIReport

####Data to be ignored, but not its structure##########
**/Trained_Models

**/cat.?.jpg
**/dog.?.jpg
**/cat.??.jpg
**/dog.??.jpg
**/cat.???.jpg
**/dog.???.jpg
**/cat.????.jpg
**/dog.????.jpg

Semester2/RNN/training_checkpoints/

